<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>永慶面試</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <style>
        body {
            background-color: rgba(0, 0, 0, 0.007);
        }
    </style>
</head>

<body>
    <div class="container mt-5 d-flex justify-content-between align-items-center" id="vbody">
        <div class="col-4">
            <a href="/"
                class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
                <svg class="bi me-2" width="30" height="24">
                    <use xlink:href="#bootstrap"></use>
                </svg>
                <span class="fs-5 fw-semibold">產品列表</span>
            </a>
            <div class="list-group list-group-flush border-bottom scrollarea">
                <a class="list-group-item list-group-item-action py-3 lh-tight" v-on:click="add">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                        <strong class="mb-1">新增產品</strong>
                        <small class="text-muted">點擊新增</small>
                    </div>
                    <div class="col-10 mb-1 small"></div>
                </a>
                <a type="button" class="list-group-item list-group-item-action py-3 lh-tight" v-for="item in productList" v-on:click="edit" :data-bit="item.productId">
                    <div class="d-flex w-100 align-items-center justify-content-between" :data-bit="item.productId">
                        <strong class="mb-1" :id="'productName'+item.productId" :data-bit="item.productId">{{item.productName}}</strong>
                        <small class="text-muted" :id="'productPrice'+item.productId" :data-bit="item.productId">NT {{item.productPrice}}$</small>
                    </div>
                    <div class="col-10 mb-1 small" :id="'productDetail'+item.productId" :data-bit="item.productId">{{item.productDetail}}</div>
                </a>
            </div>
        </div>
        <div class="col-7">
            <div class="col-6">
                <label for="productName" class="form-label">商品名稱</label>
                <input type="text" class="form-control" v-model="productName">
            </div>
            <div class="col-6">
                <label for="productPrice" class="form-label">商品價格</label>
                <input type="text" class="form-control" v-model="productPrice">
            </div>
            <div class="col-6">
                <label for="productDetail" class="form-label">商品詳情</label>
                <input type="text" class="form-control" v-model="productDetail">
            </div>
            <div class="col-2">
                <label for="AddButton" class="form-label"></label>
                <input type="button" class="form-control" id="AddButton" value="新增" v-on:click="addNewProduct"
                    v-if="addOrEdit" >
                    <div v-else><input type="button" class="form-control" id="EditButton" value="修改" v-on:click="editProduct">
                        <label for="DeleteButton" class="form-label"></label>
                        <input type="button" class="form-control" id="DeleteButton" value="刪除" v-on:click="deleteProduct" ></div>
                
            </div>
        </div>
    </div>
</body>

<script>
    var app = new Vue({
        data:
        {
            productList: [],
            productName: "",
            productPrice: "",
            productDetail: "",
            productId:0,
            addOrEdit: true
        },
        methods:
        {
            getAllProduct: function () {
                var self = this;
                axios.get("https://localhost:7267/api/Product/getAllProduct")
                    .then(res => {
                        var xhr = res.request;
                        if (res.status == 200 && xhr.readyState == 4) {
                            self.productList = res.data;
                        }
                    })
                    .catch(err => { console.log(err); })
            },
            addNewProduct: function () {
                var self = this;
                if (this.productName === "" || this.productPrice === "") { alert("商品或是價格未填寫") }
                else {
                    var data =
                    {
                        ProductName: this.productName,
                        ProductPrice: this.productPrice,
                        ProductDetail: this.productDetail
                    };
                    
                    axios(
                        {
                            method: 'POST',
                            url: "https://localhost:7267/api/Product/addNewProduct",
                            headers: { "Content-Type": "application/json" },
                            data: data
                        }
                    ).then(
                        (res) => {
                            alert(res.data.msg);
                            app.$nextTick(self.getAllProduct());
                            self.productName = "";
                            self.productPrice = "";
                            self.productDetail = "";
                        }
                    ).catch(
                        (res) => {
                            console.log(res);

                        }
                    );
                }
            },
            editProduct:function()
            {
                var self = this;
                if (this.productName === "" || this.productPrice === "") { alert("商品或是價格未填寫") }
                else {
                var data =
                    {
                        ProductId:parseInt(this.productId, 10),
                        ProductName: this.productName,
                        ProductPrice: this.productPrice,
                        ProductDetail: this.productDetail
                    };
                    axios(
                        {
                            method: 'PUT',
                            url: "https://localhost:7267/api/Product/editProduct",
                            headers: { "Content-Type": "application/json" },
                            data: data
                        }
                    ).then(
                        (res) => {
                            alert(res.data.msg);
                            app.$nextTick(self.getAllProduct());
                        }
                    ).catch(
                        (res) => {
                            console.log(res);

                        }
                    );
                }
            },
            deleteProduct:function()
            {
                if(confirm("確定要刪除?"))
                {
                    var self = this;
                var data =
                    {
                        ProductId:parseInt(this.productId, 10)
                    };
                    axios(
                        {
                            method: 'DELETE',
                            url: "https://localhost:7267/api/Product/deleteProduct",
                            headers: { "Content-Type": "application/json" },
                            data: data
                        }
                    ).then(
                        (res) => {
                            alert(res.data.msg);
                            app.$nextTick(self.getAllProduct());
                            app.$nextTick(self.add());
                        }
                    ).catch(
                        (res) => {
                            console.log(res);
                        }
                    );
                }
                
            },
            add: function () {
                this.addOrEdit = true;
                this.productName = "";
                this.productPrice = "";
                this.productDetail = "";
                window.scrollTo(0,0);
            },
            edit:function(e)
            {
                var productId = event.target.dataset.bit;
                console.log(productId);
                this.addOrEdit = false;
                var product = this.productList.filter(x=>x.productId==productId)[0];
                this.productName = product.productName;
                this.productPrice = product.productPrice;
                this.productDetail = product.productDetail;
                this.productId = productId;
                window.scrollTo(0,0);
            }

        },
        mounted: function () {
            this.getAllProduct();
        }
    });
    app.$mount('#vbody');
</script>

</html>